.productCard {
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  p {
    margin: 0;
    padding-right: 20px;
  }
}
.visual {
  margin-bottom: 10px;
}