.product {
  &Title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #333;
    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 42px;
    }
    span {
      display: block;
    }
  }
  &Price {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #333;
    @media (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 36px;
      line-height: 42px;
    }
  }
  &Shipping {
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &Contact {
    margin-bottom: 20px;
    padding: 15px;
    border: 3px solid #ffc2c1;
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &Details p {
    margin-bottom: 40px;
  }
}