@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
  background-color: #fff;
}

body {
  padding-top: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #777;
  @media (min-width: 768px) {
    padding-top: 130px;
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  display: block;
  max-width: 100%;
}

.center {
  margin: 0 auto;
}
.mw1110 {
  width: 1110px;
  max-width: 100%;
}

h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #333;
  @media (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 32px;
  }
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  background-color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
    background-color: #fee1de;
  }
}

p:last-child {
  margin-bottom: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.highlight {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 160px;
  width: 100%;
  background-color: #f6f6f6;
  @media (min-width: 768px) {
    height: 300px;
  }
  &.highlight-home {
    position: relative;
    margin-bottom: 30px;
    height: 500px;
    background-color: #fee1de;
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
    .gatsby-image-wrapper {
      position: absolute !important;
      top: 0;
      z-index: 1;
      height: 100% !important;
      width: 100% !important;
      @media (min-width: 880px) {
        img {
          object-fit: contain !important;
        }
      }
    }
    .container {
      position: relative;
      z-index: 2;
    }
  }
}

.homeImg {
  border: 1px solid red;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  &-item {
    padding-right: 4px;
    &.active::after {
      display: none;
    }
    &::after {
      content: " /";
    }
    a {
      color: #777;
    }
  }
}

.productVisual {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.colContent {
  p, .gatsby-image-wrapper {
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}