backend:
  name: github
  repo: tetzwo/bev

media_folder: src/images
public_folder: ""

collections:
  - label: "BEV"
    name: "bev"
    create: true
    format: json
    files:
      - label: "Products"
        name: "products"
        file: "src/data/data.json"
        fields:
          - label: Product
            name: product
            widget: list
            summary: '{{fields.boardName}} - {{fields.subCategory}}'
            fields:
              - { name: boardName, label: Board name }
              - {
                  name: category,
                  label: Category,
                  widget: "select",
                  options: ["board", "mounted"]
                }
              - {
                  name: subCategory,
                  label: Sub Category,
                  widget: "select",
                  options: ["planche cruiser", "cruiser set classic", "cruiser set mama", "vintage cruiser"]
                }
              - {
                  name: availability,
                  label: Availability,
                  widget: "select",
                  options: ["disponible", "plus disponible", "sur commande"]
                }
              - { name: price, label: Price }
              - { name: details, label: Details, widget: "text" }
              - { name: image, label: Image, widget: "image" }
              - {
                  name: gallery,
                  label: Gallery,
                  widget: "list",
                  field: {label: Visual, name: visual, widget: image }
                }
      # - label: "Locations Page"
      #   name: "locations"
      #   file: "site/content/locations.yml"
      #   fields:
      #     - {label: Title, name: title, widget: string}
      #     - {label: Intro, name: intro, widget: markdown}
      #     - label: Locations
      #       name: locations
      #       widget: list
      #       fields:
      #         - {label: Name, name: name, widget: string}
      #         - {label: Address, name: address, widget: string}

# collections:
#   - name: products
#     label: Products
#     folder: src/cms
#     create: true
#     format: json
#     fields:
#       - { name: boardName, label: Board name }
#       - {
#           name: category,
#           label: Category,
#           widget: "select",
#           options: ["board", "mounted"]
#         }
#       - {
#           name: subCategory,
#           label: Sub Category,
#           widget: "select",
#           options: ["planche cruiser", "cruiser set classic", "cruiser set mama", "vintage cruiser"]
#       }
#       - {
#           name: availability,
#           label: Availability,
#           widget: "select",
#           options: ["disponible", "plus disponible", "sur commande"]
#         }
#       - { name: price, label: Price }
#       - { name: details, label: Details, widget: "text" }
#       - { name: image, label: Image, widget: "image" }
#       - {
#           name: gallery,
#           label: Gallery,
#           widget: "list",
#           field: {label: Visual, name: visual, widget: image }
#         }