.filtersList {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  button{
    padding: 0;
    text-align: left;
    line-height: 32px;
    border: 0;
    background: transparent;
    outline: none;
  }
}
.productCard {
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  p {
    margin: 0;
    padding-right: 20px;
  }
}
.visual {
  margin-bottom: 10px;
}