.productCard {
  margin-bottom: 30px;
}
.visual {
  display: block;
  margin-bottom: 10px;
}
.content {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  p {
    margin: 0;
    padding-right: 5px;
  }
}
.details span {
  display: block;
}